body {
    margin: 0%;
    font-family: 'Kanit', sans-serif;
}
header {
    background-image: url("../imagenes/fondo.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 10px;
}
header img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}
nav {
    display: flex;
    background-color: #035c61;
    color: #f0f8ff;
    font-size: 35px;
    text-align: center;
    letter-spacing: 5px;
}
nav a{
    color: white;
    margin-left: 2%;
    margin-right: 13%;
    margin-top: 1.6em;
    letter-spacing: normal;
    text-decoration: none;
}
nav i{
    font-size: 30px;
    margin-right: 0.4em;
}
main{
    background-color:#D0D8D9;
    padding: 5%;
    text-align: justify;
    line-height: 1.5em;
}
h2 {
    background-color: #035c61;
    color: white;
    border-radius: 5px;
    text-align: center;
}
dt { 
    font-weight: bold;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #035c61;
    color: #ffffff;
    font-size: 20px;
    line-height: 2.5;
}
footer i {
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
    color: white;
}