body {
    margin: 0%;
    font-family: 'Kanit', sans-serif;
}

header {
    background-image: url("../imagenes/fondo.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 10px;
}

header img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

main {
    background-color: #D0D8D9;
}

h1 {
    background-color: #035c61;
    color: #f0f8ff;
    font-size: 35px;
    text-align: center;
    letter-spacing: 5px;
    margin: 0%;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 16%;
    margin-right: 16%;
    list-style: none;
}

nav a {
    color: white;
    background-color: #035c61;
    padding: 0.2em;
    margin: 1em;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
}

nav i {
    color: white;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 30% 2% 30%;
    line-height: 1.5em;
}

h2 {
    background-color: #035c61;
    color: #f0f8ff;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
    border-radius: 5px;
}

li span {
    font-weight: bold;
}

dt {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #035c61;
    color: #ffffff;
    font-size: 20px;
    line-height: 2.5;
}

footer i {
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
    color: white;
}

@media screen and (max-width: 635px) {
    .datos {
        padding: 2% 3% 2% 3%;
    }

    nav {
        margin-left:0%;
        margin-right:0%; 
    }
}